* {
    font-family: "Source Code Pro", monospace;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    background: white;
}

#map {
    justify-content: center;
    height: 50vh;
    width: 50vw;
    margin: auto;
}
