* {
    font-family: "Source Code Pro", monospace;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    background: white;
}

#map {
    height: 80vh;
    width: 100%;
    margin: auto;
}
