* {
    font-family: "Source Code Pro", monospace;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    background: white;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#map {
    height: 80vh;
    width: 100%;
    margin: auto;
}

#info {
    padding-left: 1vh;
    float: right;
}

img {
    max-width: 50vw;
    max-height: 50vh;
}
